*{
    padding: 0px;
    margin: 0px;
    font-family: 'Bree Serif', serif;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body::before
{   content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    
    
   
}
.navbar{
    background-color: rgba(0, 0, 0, 0.829);
    /* height: 6.2rem; */
   
}

.nav-item a{
    color: #e4e1df;
    font-weight: 600;
    font-size: 1.7rem;
    margin-left: 2rem;
    font-family: 'Jost', sans-serif;
}
.navbar span{
    color:#e4e1df;
    font-weight: bold;
}
.navbar #name{
    position: relative;
    top: 0.2rem;
    left: 0.5rem;
    font-size: 1.7rem;
}
 .form{
   
    margin-right: 0.2rem  !important; 
    display: flex;
    margin-top: 0.2rem;
}

.form-control{
    font-size: 1.5rem;
    padding: 0rem 1.5rem;
    background-color: none;
    outline: none;
    border: none;
    opacity: 0;
    border-radius: 2.25rem;
}
.form .fas {
  display: inline-flex;
  width: 3.2rem;
  height:3.2rem;
  border-radius: 50%;
  background: rgb(255, 255, 255) ;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  position: relative; 
  right: 7rem;
  cursor: pointer;
  
}

.form:hover .form-control{ 
    transition: all 1s ease-in-out;
    opacity: 1;
}
.carousel{
    width: 100%;
    height: 90vh;
    overflow: hidden; 
}
#slider {
     background-attachment: fixed; 
    position: inherit;
    width: 100%;
    height: 90vh;
}
#slider:hover{
    cursor: pointer;
    transform: scale(1.1); 
    transition: all 2s ease-in-out;
}
.carousel-caption{
    bottom: 20rem;
    font-family: 'Lobster', cursive;
    
}
.media-body{
    text-align: center;
}
 

.genre::before
{   content: " ";
    width: 100%;
    height: 130%;
    position: absolute;
    /* background: linear-gradient(to right, #bdc3c7, #2c3e50); */
    background-color: #f3edf1;
    background-image: linear-gradient(58deg, #f3edf1 0%, #8fb9b7 100%);
    left: 0px;
    z-index: -1;
    opacity: 0.8;
   
}
 .images{
    position: relative;
    width: 25rem;
    
} 
 .images img{
    display: block;
    width: 100%;
    height: 27rem;
    
} 
.images .describe{
    position: absolute;
    top: 3rem;
    left: 1.2rem;
    width: 100%;
    height: 90%;
    background-color: rgba(255, 235, 205, 0.603);
    opacity: 0;
    
}
.images .describe:hover{
    transition: all 1s ease-in-out;
    opacity: 1;
    cursor: pointer;
} 
.title{
 text-align: center;
 margin-top: 45%;
 font-weight: bold;
 font-size: 2.5rem;
 color: rgb(146, 64, 5);
 
}
.media-body .one{
    margin-left: 2.2rem;
    
}
.media-body{
    
    font-family: 'Syne Mono', monospace;
    font-size: 1.7rem;
   color:white;
    
}
.media-body h2{
    font-family: 'Monoton', cursive;
    font-size: 2.7rem;
    color: white;
}
.heading h1{
    text-align: center;
    position: relative;
    top: 1.5rem;
    font-size: 4rem;
    color: white;
   
}
.artists::before
{   content: " ";
    width: 100%;
    height: 90vh;
    position: absolute;
    background:url('https://cdn.cjr.org/wp-content/uploads/2019/07/AdobeStock_100000042-e1563305717660-686x371.jpeg') no-repeat center center/cover;
    left: 0.0rem;
    z-index: -1;
    opacity: 0.8;
   
}
.artists img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}
.artists{
    text-align: center;
    color: whitesmoke;
    
}
.artists h5{
    font-size: 1.6rem;
}
footer{
    
    background-color:#3a3a3f;
    text-align: center;
    font-weight: bold;
    height:5rem;
    
}
.music_player{
    background-color: #e4e9ed;
    height: 7rem;
    position: sticky;
    bottom: 0rem;

}

.music_player .col{
    margin: 0.3rem;
    /* border: 2px solid white; */
}
.music_player .col img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}
.music_player #song{
    position: relative;
    bottom: 0.5rem;
    margin-left: 1rem;
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.music_player #artist_name {
    position: absolute;
    top: 3.5rem;
    left: 8rem;
    bottom: 0.3rem;
    font-family: 'Jost', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
}

.music_player .music_controller .fas{
    color: black;
    font-size: 2.5rem;
    padding-left: 2rem;
    cursor: pointer;
    position: relative;
    top: 1.5rem;
    left: 15%;
    
}
#cover{
    width: 5rem;
    height: 5rem;
    margin-top: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color:gainsboro;
    font-size: 1.42rem;
}
.music_controller .fas:hover{
    color: grey;
}

/* .music_player .music_controller .fa-play-circle{
font-size: 1.8rem;
} */

.music_player .music_controller .fa-play-circle:hover{
    color: honeydew;
}
.anime{
    animation: playerRotate 3s linear infinite ;
}
 @keyframes  playerRotate{
     from{
        transform: rotate(0deg);
     }
     to{
        transform: rotate(360deg);
     }
 }
 .music_control{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding:0.5rem 7rem;
 }
 .progressbar_container{
     width: 100%;
     margin-top: 1.5rem;

 }
.duration{
     display: flex;
     justify-content: space-between;
     font-family: 'Jost', sans-serif;
     font-size: 1.3rem;
 }
 .progress_div{
     position: relative;
     width: 100%;
     height: 0.5rem;
     border-radius: 0.9rem;
     cursor: pointer;
     background-color: gainsboro;
     transition: all 1s linear;
 }
 .progress{
     position: absolute;
     top: 0rem;
     left: 0rem;
     width: 0%;
     height: 100%;
     background-color: black;
     border-radius: 0.7rem;
 }

 footer span{
    position: relative;
    top: 1.3rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: ivory;
}

@media(min-width:1600px){
    .navbar{
        height: 6.2rem;
    }
}
 @media(max-width:998px){
     html{
         font-size: 55%;
     }

    .carousel-caption{
    bottom: 130rem;
    font-family: 'Lobster', cursive;
    
     }
 }

 @media(max-width:768px){
    html{
        font-size: 45%;
    }
    .form{
        position: relative;
        left: -9rem;
    }
    .form .fas{
        position: relative;
        top: 3rem;
}
@media(max-width:425px){
    html{
        font-size: 25%;
    }
    .form .fas{
        position: relative;
        top: 2.5rem;
    }
    .music_player #artist_name {
        position: absolute;
        top: 3.5rem;
        left: 10rem;
        bottom: 0.3rem;
        font-family: 'Jost', sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
    }
}